[Unit]
Description=Windrunner Agent
Documentation=https://github.com/neilsonwong/windrunner

[Service]
Type=simple
WorkingDirectory=/opt/Windrunner
ExecStart=/opt/Windrunner/agent
StandardOutput=file:/opt/Windrunner/log
StandardError=file:/opt/Windrunner/errors
Restart=on-failure

[Install]
WantedBy=default.target
Alias=windrunnerAgent.service