<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>windrunner.agent</string>
		<key>Program</key>
		<string>/opt/Windrunner/agent</string>
		<key>StandardOutPath</key>
		<string>/opt/Windrunner/stdout.log</string>
		<key>StandardErrorPath</key>
		<string>/opt/Windrunner/stderr.log</string>
		<key>WorkingDirectory</key>
		<string>/opt/Windrunner</string>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>
