.directory-view {
	display: flex;
    flex-flow: wrap;
    justify-content: center;

    /* not the right way but lazy atm */
    padding-top: 40px;
}

.error {
	position: fixed;
	left: 0;
	right: 0;
	color: red;
	text-align: center;
}