.folder-view, .file-view {
	display: inline-block;
	width: 250px;
	height: 250px;
	padding: 20px;
	text-align: center;
	vertical-align: text-top;
}

.folder-view-thumbnail {
	/* style the folder thumbnail */
	position: relative;
	display: block;
	width: 245px;
	height: 195px;
	border-radius: 15px;
    box-shadow: 3px 3px 3px #cccccc;
	margin: auto;

	/* style the text */
	font-size: 5em;
	text-align: center;
    line-height: 200px;
    color: #000000;
    /*text-shadow: 0 0 1em #ccc, 0 0 0.2em #ccc;*/

    transition-duration: 0.1s
}

.folder-view:hover .folder-view-thumbnail {
	width: 250px;
	height: 200px;
}

.folder-view:hover span {
	background-color: #000000;
}

.folder-icon {
	position: absolute;
	display: block;
	height: 36px;
	width: 36px;
	left: 5px;
	top: 5px;
	opacity: 0.3;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAZElEQVRYhe3WsRGAIBAF0e2QlqwScrSPM7ABULkh2J35+QsuODCz/ApQgRjcsRp0TWBSULOY5ai3oGWoL6CZVZ573QYUwLkbKAQJEiRIkCBBgjYE9URMHwEVoCVgGoMvrJn92Q0+52HmkeSvPAAAAABJRU5ErkJggg==);
}

.folder-view a {
	text-decoration: none;
}

/* links to folders */
.folder-view span {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	margin: 5px auto;

	background-color: #666666;
	color: #ffffff;
}

/* give the folder colors some life */
.folder-view:nth-child(10n+1) .folder-view-thumbnail {
    background-color: rgba(235, 116, 60, 0.75);
}
.folder-view:nth-child(10n+2) .folder-view-thumbnail {
    background-color: rgba(84, 166, 216, 0.75);
}
.folder-view:nth-child(10n+3) .folder-view-thumbnail {
    background-color: rgba(146, 146, 146, 0.75);;
}
.folder-view:nth-child(10n+4) .folder-view-thumbnail {
    background-color: rgba(37, 83, 169, 0.75);
}
.folder-view:nth-child(10n+5) .folder-view-thumbnail {
    background-color: rgba(246, 205, 56, 0.75);
}
.folder-view:nth-child(10n+6) .folder-view-thumbnail {
    background-color: rgba(200, 34, 44, 0.75);
}
.folder-view:nth-child(10n+7) .folder-view-thumbnail {
    background-color: rgba(92, 56, 141, 0.75);
}
.folder-view:nth-child(10n+8) .folder-view-thumbnail {
    background-color: rgba(130, 167, 59, 0.75);
}
.folder-view:nth-child(10n+9) .folder-view-thumbnail {
    background-color: rgba(194, 78, 127, 0.75);
}
.folder-view:nth-child(10n+10) .folder-view-thumbnail {
    background-color: rgba(236, 0, 140, 0.75);
}