body {
	background-color: black;
}

.error {
	position: fixed;
	left: 0;
	right: 0;
	color: red;
	text-align: center;
}

.windrunner {
	position: absolute;
}

.windrunner::after {
	content: "";
	background: url("/knnw.jpg");
	opacity: 0.4;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;   
}

.directory-view {
	display: flex;
    flex-flow: wrap;
    justify-content: center;
}