.windrunner-top-bar {
	position: absolute;
	padding: 5px 2vw;
	left: 0;
	right: 0;
	top: 0;
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.windrunner-top-bar .top-bar-search {
	width: 50%;
}

.windrunner-top-bar .search-button {
    width: 80px;
    padding: 5px 10px;
    opacity: 1;
}

.windrunner-top-bar .top-bar-search input {
	width: calc(100% - 120px);
	margin-right: 20px;
}

.search-button {
	display: inline-block;
	/*border: 1px solid 1px solid rgba(255, 255, 255, 0.3);*/
	border: none;

    /* search button styling */
    color: #ffffff;
	background-color: #666666;
    font-size: 16px;
    border-radius: 3px;
    box-sizing: border-box;

    width: 0px;
    padding: 0;
    opacity: 0;
}


.top-bar-search ,
.path-bubbles {
	display: inline-block;
	line-height: 40px;
    transition-duration: 0.5s;
}

.top-bar-search {
	color: #cccccc;
    width: 100px;
	/*background-color: rgba(255, 255, 255, 0.1);*/
}

.top-bar-search input {
	display: inline-block;
	background: none;
	color: #cccccc;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    font-size: 24px;
    padding: 5px 0;
    padding-left: 5px;
    text-align: left;
    transition-duration: 0.2s;
}

.top-bar-search input:focus {
    outline: none;
	color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

/*.top-bar-search input:focus+.search-button{
	background-color: #666666;
}
*/
.top-bar-search input:focus .path-bubbles {
	display: none;
}

.search-button:hover {
	background-color: #aaaaaa;
}

.bread-crumb {
	display: inline-block;
	text-decoration: none;
	color: #cccccc;
}

.spacer {
	display: inline-block;
	padding: 0 10px;
	color: #666666;
}

.bread-crumb-root,
.bread-crumb:last-child {
	font-weight: 600;
	color: #ffffff;
}

